{% assign item = include.post %}
{% assign type_config = site.data.types[item.type] %}
{% assign category_config = site.data.categories[item.category] %}
<li class="content_entry">
  <a class="content_entry_title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
  <p>{{ item.summary }}</p>
  <div class="content_entry_meta">
    <span>{{ type_config.label }}</span>
    <span>{{ category_config.label }}</span>
    {% if item.type == "event" %}
    <time datetime="{{ item.starts_at | date_to_xmlschema }}">{{ item.starts_at | date: "%d/%m/%Y %H:%M" }}</time>
    {% else %}
    <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%d/%m/%Y" }}</time>
    {% endif %}
  </div>
</li>
