<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="color-scheme" content="dark">
  {% seo %}
  <link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" sizes="any">
  <link rel="preload" href="{{ '/assets/fonts/FiraCode-Regular.woff' | relative_url }}" as="font" type="font/woff" crossorigin>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/fa.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/rouge-bg.css' | relative_url }}">
  {% if page.math == true %}
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.js"></script>
  {% endif %}
</head>
