<div class="post_info" aria-label="Informacoes da publicacao">
{% assign author_name = page.author | default: site.author.name %}
{% if author_name %}
  <span itemprop="author" itemscope itemtype="https://schema.org/Person">
    <i class="fa fa-user-secret" aria-hidden="true"></i>
    <span itemprop="name">{{ author_name }}</span>
  </span>
  {% endif %}
  {% if page.date %}
  <span>
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d/%m/%Y" }}</time>
  </span>
  {% endif %}
  {% if page.category %}
  <span>
    <i class="fa fa-archive" aria-hidden="true"></i>
    <span itemprop="articleSection">{{ page.category }}</span>
  </span>
  {% endif %}
</div>
{% if page.abstract %}
<p class="post_abstract p-summary" itemprop="description">{{ page.abstract }}</p>
{% endif %}
