---
layout: default
---

{% assign type_config = site.data.types[page.type] %}
{% assign schema_name = type_config.schema | default: "BlogPosting" %}
<article class="post h-entry content_type_{{ page.type }}" itemscope itemtype="https://schema.org/{{ schema_name }}">
  <header class="post_header">
    <h1 class="p-name" itemprop="headline">{{ page.title }}</h1>
    {% include content_details.html %}
  </header>
  <div class="post_content e-content" itemprop="{% if page.type == 'event' %}description{% else %}articleBody{% endif %}">
    {{ content }}
  </div>
  {% include related_content.html %}
</article>
